# Fake Covid News Detection

## Import Data

In [ ]:
import pandas as pd;
import re;
import os
from transformers import BertTokenizer, BertModel
import torch
import numpy as np

if not os.path.exists('unclean'):
    os.makedirs('unclean')

test_df = pd.read_csv("unclean/Constraint_Test.csv");
train_df = pd.read_csv("unclean/Constraint_Train.csv");
val_df = pd.read_csv("unclean/Constraint_Val.csv");

In [2]:
test_df

        id                                              tweet
0        1  Our daily update is published. States reported...
1        2             Alfalfa is the only cure for COVID-19.
2        3  President Trump Asked What He Would Do If He W...
3        4  States reported 630 deaths. We are still seein...
4        5  This is the sixth time a global health emergen...
...    ...                                                ...
2135  2136  #CoronaVirusUpdates: State-wise details of Tot...
2136  2137  Tonight 12(midnight) onwards Disaster Manageme...
2137  2138  296 new cases of #COVID19Nigeria; Plateau-85 E...
2138  2139  RT @CDCemergency: #DYK? @CDCgov’s One-Stop Sho...
2139  2140  More than half of pregnant women recently admi...

[2140 rows x 2 columns]

In [3]:
train_df

        id                                              tweet label
0        1  The CDC currently reports 99031 deaths. In gen...  real
1        2  States reported 1121 deaths a small rise from ...  real
2        3  Politically Correct Woman (Almost) Uses Pandem...  fake
3        4  #IndiaFightsCorona: We have 1524 #COVID testin...  real
4        5  Populous states can generate large case counts...  real
...    ...                                                ...   ...
6415  6416  A tiger tested positive for COVID-19 please st...  fake
6416  6417  ???Autopsies prove that COVID-19 is??� a blood...  fake
6417  6418  _A post claims a COVID-19 vaccine has already ...  fake
6418  6419  Aamir Khan Donate 250 Cr. In PM Relief Cares Fund  fake
6419  6420  It has been 93 days since the last case of COV...  real

[6420 rows x 3 columns]

In [4]:
val_df

        id                                              tweet label
0        1  Chinese converting to Islam after realising th...  fake
1        2  11 out of 13 people (from the Diamond Princess...  fake
2        3  COVID-19 Is Caused By A Bacterium, Not Virus A...  fake
3        4  Mike Pence in RNC speech praises Donald Trump’...  fake
4        5  6/10 Sky's @EdConwaySky explains the latest #C...  real
...    ...                                                ...   ...
2135  2136  Donald Trump wrongly claimed that New Zealand ...  fake
2136  2137  Current understanding is #COVID19 spreads most...  real
2137  2138  Nothing screams “I am sat around doing fuck al...  fake
2138  2139  Birx says COVID-19 outbreak not under control ...  fake
2139  2140  Another 4422 new coronavirus cases have been c...  real

[2140 rows x 3 columns]

# Explorative data analysis

In [5]:
print("Uncleaned Test Data: "+ str(test_df.shape))
print("Uncleaned Train Data: "+ str(train_df.shape))
print("Uncleaned Validate Data: " + str(val_df.shape))

Uncleaned Test Data: (2140, 2)
Uncleaned Train Data: (6420, 3)
Uncleaned Validate Data: (2140, 3)

In [6]:
print("Uncleaned Test Data: "+ str(test_df.columns))
print("Uncleaned Train Data: "+ str(train_df.columns))
print("Uncleaned Validate Data: " + str(val_df.columns))

Uncleaned Test Data: Index(['id', 'tweet'], dtype='object')
Uncleaned Train Data: Index(['id', 'tweet', 'label'], dtype='object')
Uncleaned Validate Data: Index(['id', 'tweet', 'label'], dtype='object')

In [7]:
test_df.info()
print('\n')
train_df.info()
print('\n')
val_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2140 entries, 0 to 2139
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2140 non-null   int64
 1   tweet   2140 non-null   object
dtypes: int64(1), object(1)
memory usage: 33.6+ KB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6420 entries, 0 to 6419
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      6420 non-null   int64
 1   tweet   6420 non-null   object
 2   label   6420 non-null   object
dtypes: int64(1), object(2)
memory usage: 150.6+ KB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2140 entries, 0 to 2139
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2140 non-null   int64
 1   tweet   2140 non-null   object
 2   label   2140 non-null   object
dtypes: int64(1), object(2)
memory usage: 50.3+ KB

# Data Preprocessing

## Convert to lowercase

In [8]:
train_df['tweet'] = train_df['tweet'].str.lower()
test_df['tweet'] = test_df['tweet'].str.lower()
val_df['tweet'] = val_df['tweet'].str.lower()
print(train_df.head())
print(test_df.head())
print(val_df.head())

   id                                              tweet label
0   1  the cdc currently reports 99031 deaths. in gen...  real
1   2  states reported 1121 deaths a small rise from ...  real
2   3  politically correct woman (almost) uses pandem...  fake
3   4  #indiafightscorona: we have 1524 #covid testin...  real
4   5  populous states can generate large case counts...  real
   id                                              tweet
0   1  our daily update is published. states reported...
1   2             alfalfa is the only cure for covid-19.
2   3  president trump asked what he would do if he w...
3   4  states reported 630 deaths. we are still seein...
4   5  this is the sixth time a global health emergen...
   id                                              tweet label
0   1  chinese converting to islam after realising th...  fake
1   2  11 out of 13 people (from the diamond princess...  fake
2   3  covid-19 is caused by a bacterium, not virus a...  fake
3   4  mike pence in rnc speech praises donald trump’...  fake
4   5  6/10 sky's @edconwaysky explains the latest #c...  real

## Check Duplicates

In [9]:
train_duplicates = train_df[train_df.duplicated(subset=['tweet'], keep=False)]
print("Duplicates in train_df:")
print(train_duplicates)


test_duplicates = test_df[test_df.duplicated(subset=['tweet'], keep=False)]
print("\nDuplicates in test_df:")
print(test_duplicates)


val_duplicates = val_df[val_df.duplicated(subset=['tweet'], keep=False)]
print("\nDuplicates in val_df:")
print(val_duplicates)

common_tweets_train_test = pd.merge(train_df, test_df, on='tweet', how='inner')
print("\nCommon tweets in train and test sets:")
print(common_tweets_train_test)

common_tweets_train_val = pd.merge(train_df, val_df, on='tweet', how='inner')
print("\nCommon tweets in train and validation sets:")
print(common_tweets_train_val)

common_tweets_test_val = pd.merge(test_df, val_df, on='tweet', how='inner')
print("\nCommon tweets in test and validation sets:")
common_tweets_test_val

Duplicates in train_df:
Empty DataFrame
Columns: [id, tweet, label]
Index: []

Duplicates in test_df:
Empty DataFrame
Columns: [id, tweet]
Index: []

Duplicates in val_df:
Empty DataFrame
Columns: [id, tweet, label]
Index: []

Common tweets in train and test sets:
   id_x                                              tweet label  id_y
0  3242  audio from whatsapp in which the head of cardi...  fake   132
1  4178  video shows muslim women spitting in plastic b...  fake  1829

Common tweets in train and validation sets:
   id_x                                              tweet label_x  id_y  \
0  5459  our combined total of confirmed and probable c...    real   910

  label_y
0    real

Common tweets in test and validation sets:

Empty DataFrame
Columns: [id_x, tweet, id_y, label]
Index: []

## Check Missing Values

In [10]:
print("Missing values in test_df:\n", test_df.isnull().sum())
print("\nMissing values in train_df:\n", train_df.isnull().sum())
print("\nMissing values in val_df:\n", val_df.isnull().sum())

Missing values in test_df:
 id       0
tweet    0
dtype: int64

Missing values in train_df:
 id       0
tweet    0
label    0
dtype: int64

Missing values in val_df:
 id       0
tweet    0
label    0
dtype: int64

## Categorical Values Count

In [11]:
val_df.label.value_counts()

label
real    1120
fake    1020
Name: count, dtype: int64

In [12]:
train_df.label.value_counts()

label
real    3360
fake    3060
Name: count, dtype: int64

## Remove extra whitespaces and line break

In [13]:
def count_extra_whitespace_and_linebreaks(df, column_name):
    extra_spaces_count = 0
    linebreaks_count = 0

    for index, row in df.iterrows():
        tweet = row[column_name]
        # Check for extra spaces (more than one space together)
        extra_spaces_count += len([i for i in tweet.split() if len(i) == 0])

        # Check for linebreaks
        linebreaks_count += tweet.count('\n')

    return extra_spaces_count, linebreaks_count

extra_spaces_test, linebreaks_test = count_extra_whitespace_and_linebreaks(test_df, 'tweet')
extra_spaces_train, linebreaks_train = count_extra_whitespace_and_linebreaks(train_df, 'tweet')
extra_spaces_val, linebreaks_val = count_extra_whitespace_and_linebreaks(val_df, 'tweet')

print("Test DataFrame:")
print(f"Extra spaces: {extra_spaces_test}")
print(f"Line breaks: {linebreaks_test}")

print("\nTrain DataFrame:")
print(f"Extra spaces: {extra_spaces_train}")
print(f"Line breaks: {linebreaks_train}")

print("\nValidation DataFrame:")
print(f"Extra spaces: {extra_spaces_val}")
print(f"Line breaks: {linebreaks_val}")

Test DataFrame:
Extra spaces: 0
Line breaks: 288

Train DataFrame:
Extra spaces: 0
Line breaks: 778

Validation DataFrame:
Extra spaces: 0
Line breaks: 239

In [14]:
import re

def clean_text(text):
  # Remove extra whitespaces
  text = re.sub(r'\s+', ' ', text)
  # Remove leading/trailing whitespaces
  text = text.strip()
  return text

train_df['tweet'] = train_df['tweet'].apply(clean_text)
test_df['tweet'] = test_df['tweet'].apply(clean_text)
val_df['tweet'] = val_df['tweet'].apply(clean_text)

In [15]:
# Recheck for extra whitespaces and line breaks after cleaning
extra_spaces_test, linebreaks_test = count_extra_whitespace_and_linebreaks(test_df, 'tweet')
extra_spaces_train, linebreaks_train = count_extra_whitespace_and_linebreaks(train_df, 'tweet')
extra_spaces_val, linebreaks_val = count_extra_whitespace_and_linebreaks(val_df, 'tweet')

print("\nAfter Cleaning:")
print("Test DataFrame:")
print(f"Extra spaces: {extra_spaces_test}")
print(f"Line breaks: {linebreaks_test}")

print("\nTrain DataFrame:")
print(f"Extra spaces: {extra_spaces_train}")
print(f"Line breaks: {linebreaks_train}")

print("\nValidation DataFrame:")
print(f"Extra spaces: {extra_spaces_val}")
print(f"Line breaks: {linebreaks_val}")

After Cleaning:
Test DataFrame:
Extra spaces: 0
Line breaks: 0

Train DataFrame:
Extra spaces: 0
Line breaks: 0

Validation DataFrame:
Extra spaces: 0
Line breaks: 0

## Normalize Multiple Punctuation into single punctuation

In [16]:
def count_multiple_punctuation(text):
    # Regular expression to find multiple punctuation marks together
    pattern = r'[^\w\s]{2,}'  # Matches 2 or more non-word, non-space characters
    matches = re.findall(pattern, text)
    return len(matches)

# Apply the function to the 'tweet' column of each DataFrame
train_df['multiple_punctuation_count'] = train_df['tweet'].apply(count_multiple_punctuation)
test_df['multiple_punctuation_count'] = test_df['tweet'].apply(count_multiple_punctuation)
val_df['multiple_punctuation_count'] = val_df['tweet'].apply(count_multiple_punctuation)

print(train_df.head())
print(test_df.head())
print(val_df.head())

# Example: Check the total count of multiple punctuations in train set
total_multiple_punctuation_train = train_df['multiple_punctuation_count'].sum()
print(f"\nTotal multiple punctuations in train_df: {total_multiple_punctuation_train}")

   id                                              tweet label  \
0   1  the cdc currently reports 99031 deaths. in gen...  real
1   2  states reported 1121 deaths a small rise from ...  real
2   3  politically correct woman (almost) uses pandem...  fake
3   4  #indiafightscorona: we have 1524 #covid testin...  real
4   5  populous states can generate large case counts...  real

   multiple_punctuation_count
0                           0
1                           1
2                           1
3                           1
4                           1
   id                                              tweet  \
0   1  our daily update is published. states reported...
1   2             alfalfa is the only cure for covid-19.
2   3  president trump asked what he would do if he w...
3   4  states reported 630 deaths. we are still seein...
4   5  this is the sixth time a global health emergen...

   multiple_punctuation_count
0                           1
1                           0
2                           1
3                           1
4                           2
   id                                              tweet label  \
0   1  chinese converting to islam after realising th...  fake
1   2  11 out of 13 people (from the diamond princess...  fake
2   3  covid-19 is caused by a bacterium, not virus a...  fake
3   4  mike pence in rnc speech praises donald trump’...  fake
4   5  6/10 sky's @edconwaysky explains the latest #c...  real

   multiple_punctuation_count
0                           0
1                           0
2                           0
3                           2
4                           2

Total multiple punctuations in train_df: 6501

In [17]:
def replace_excessive_punctuation(text):
    text = re.sub(r'([!?.]){2,}', r'\1', text)
    return text

train_df['tweet'] = train_df['tweet'].apply(replace_excessive_punctuation)
test_df['tweet'] = test_df['tweet'].apply(replace_excessive_punctuation)
val_df['tweet'] = val_df['tweet'].apply(replace_excessive_punctuation)

In [18]:
def check_multiple_punctuation(df):

    # Regular expression to find two or more punctuation marks together
    pattern = r'[!?.]{2,}'

    # Find tweets with multiple punctuation marks
    multiple_punctuation_tweets = df[df['tweet'].str.contains(pattern, regex=True)]

    if multiple_punctuation_tweets.empty:
        return None  # Return None if no such rows are found.
    else:
        return multiple_punctuation_tweets

multiple_punctuation_train = check_multiple_punctuation(train_df)

if multiple_punctuation_train is not None:
    print("Tweets in train_df with multiple punctuation marks:")
    print(multiple_punctuation_train)
else:
    print("No tweets in train_df with multiple punctuation marks.")

multiple_punctuation_test = check_multiple_punctuation(test_df)
if multiple_punctuation_test is not None:
    print("\nTweets in test_df with multiple punctuation marks:")
    print(multiple_punctuation_test)
else:
    print("\nNo tweets in test_df with multiple punctuation marks.")

multiple_punctuation_val = check_multiple_punctuation(val_df)
if multiple_punctuation_val is not None:
    print("\nTweets in val_df with multiple punctuation marks:")
    print(multiple_punctuation_val)
else:
    print("\nNo tweets in val_df with multiple punctuation marks.")

No tweets in train_df with multiple punctuation marks.

No tweets in test_df with multiple punctuation marks.

No tweets in val_df with multiple punctuation marks.

## Check Emoji Usage

In [19]:
def contains_emoji(text):
    emoji_pattern = re.compile("["
                               u"\U0001F600-\U0001F64F"  # emoticons
                               u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                               u"\U0001F680-\U0001F6FF"  # transport & map symbols
                               u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                               u"\U00002702-\U000027B0"
                               u"\U000024C2-\U0001F251"
                               "]+", flags=re.UNICODE)
    return bool(emoji_pattern.search(text))

train_df['contains_emoji'] = train_df['tweet'].apply(contains_emoji)
test_df['contains_emoji'] = test_df['tweet'].apply(contains_emoji)
val_df['contains_emoji'] = val_df['tweet'].apply(contains_emoji)

print(train_df[train_df['contains_emoji'] == True])
print(test_df[test_df['contains_emoji'] == True])
print(val_df[val_df['contains_emoji'] == True])

        id                                              tweet label  \
8        9  ?clearly, the obama administration did not lea...  fake
15      16  as of 18 august 2020 8am till now there have b...  real
48      49  schools are struggling to cope with a lack of ...  real
60      61  as of today there are a total of 1339 @icmrdel...  real
70      71  rt @surgeon_general: #dyk: #handwashing remain...  real
...    ...                                                ...   ...
6389  6390  📢#coronavirusupdates: 📍#covid19 india tracker ...  real
6391  6392  the cdc ?adjusted the us covid deaths from 153...  fake
6392  6393  ireland says that due to the coronavirus, anyo...  fake
6394  6395  says donald trump tweeted, ?corona vaccine fro...  fake
6416  6417  ?autopsies prove that covid-19 is?� a blood cl...  fake

      multiple_punctuation_count  contains_emoji
8                              2            True
15                             1            True
48                             0            True
60                             2            True
70                             1            True
...                          ...             ...
6389                          10            True
6391                           2            True
6392                           1            True
6394                           3            True
6416                           6            True

[614 rows x 5 columns]
        id                                              tweet  \
12      13  🇰🇼 assistant undersecretary for public health ...
34      35  clinical senior lecturer at king's college lon...
40      41  the access to #covid19 tools (act) accelerator...
45      46  🤝 as business continue to adapt their services...
53      54  ?florida hospital reports a coronavirus ?infes...
...    ...                                                ...
2092  2093  in north carolina, ?you can be charged with a ...
2101  2102  mosquitoes can transfer covid-19 ?from person ...
2105  2106  ?michigan governor gretchen whitmer bans buyin...
2115  2116  ?china is to blame because the culture where p...
2135  2136  #coronavirusupdates: state-wise details of tot...

      multiple_punctuation_count  contains_emoji
12                             1            True
34                             2            True
40                             2            True
45                             3            True
53                             4            True
...                          ...             ...
2092                           2            True
2101                           2            True
2105                           2            True
2115                           2            True
2135                           5            True

[225 rows x 4 columns]
        id                                              tweet label  \
4        5  6/10 sky's @edconwaysky explains the latest #c...  real
9       10  ?church services can?t resume until we?re all ...  fake
18      19  ?the democrats are pushing for an implanted mi...  fake
31      32  as of 5 august 2020 there are 1955 active #cov...  real
46      47  #coronavirusupdates: state-wise details of tot...  real
...    ...                                                ...   ...
2114  2115  numerous ongoing clinical trials are evaluatin...  real
2117  2118  update: #coronavirus #covid19 ➡️new hospital p...  real
2124  2125  seen a #covid19 meme that doesn't seem correct...  fake
2125  2126  right now our model shows that: 📉4 states have...  real
2134  2135  #indiafightscorona: 📍 increasing number of #co...  real

      multiple_punctuation_count  contains_emoji
4                              2            True
9                              4            True
18                             2            True
31                             1            True
46                             5            True
...                          ...             ...
2114                           2            True
2117                           5            True
2124                           1            True
2125                           2            True
2134                           1            True

[198 rows x 5 columns]

## Classify URL Link

In [20]:
def replace_urls(text):
    url_pattern = re.compile(r'https?://\S+|www\.\S+')
    return url_pattern.sub("<URL>", text)

train_df['tweet'] = train_df['tweet'].apply(replace_urls)
test_df['tweet'] = test_df['tweet'].apply(replace_urls)
val_df['tweet'] = val_df['tweet'].apply(replace_urls)

In [21]:
def count_url_occurrences(df):
    return df['tweet'].str.count('<URL>').sum()

train_url_count = count_url_occurrences(train_df)
test_url_count = count_url_occurrences(test_df)
val_url_count = count_url_occurrences(val_df)

print(f"Number of URLs in train_df: {train_url_count}")
print(f"Number of URLs in test_df: {test_url_count}")
print(f"Number of URLs in val_df: {val_url_count}")

Number of URLs in train_df: 4395
Number of URLs in test_df: 1496
Number of URLs in val_df: 1497

## Remove Special Character

In [22]:
def remove_special_chars(text):
    # Keep only letters, numbers, spaces, @ and #
    text = re.sub(r'[^\w\s@#]', '', text)
    return text

train_df['tweet'] = train_df['tweet'].apply(remove_special_chars)
test_df['tweet'] = test_df['tweet'].apply(remove_special_chars)
val_df['tweet'] = val_df['tweet'].apply(remove_special_chars)

# Export

In [23]:
if not os.path.exists('clean'):
    os.makedirs('clean')

train_df.to_csv('clean/train_cleaned.csv', index=False)
test_df.to_csv('clean/test_cleaned.csv', index=False)
val_df.to_csv('clean/val_cleaned.csv', index=False)

train_df.to_excel('clean/train_cleaned.xlsx', index=False)
test_df.to_excel('clean/test_cleaned.xlsx', index=False)
val_df.to_excel('clean/val_cleaned.xlsx', index=False)

# Tokenizer

In [ ]:


# Load pre-trained BERT tokenizer and model
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
model = BertModel.from_pretrained('bert-base-uncased')

def tokenize_tweet(tweet):
    """Tokenizes a tweet and extracts the [CLS] token embedding from BERT."""
    inputs = tokenizer(tweet, return_tensors="pt", padding=True, truncation=True, max_length=128)
    
    with torch.no_grad():  # Disable gradient computation for efficiency
        outputs = model(**inputs)
    
    cls_embedding = outputs.last_hidden_state[:, 0, :]  # Extract [CLS] token representation
    return cls_embedding.numpy().flatten()  # Convert to 1D NumPy array

# Apply the function to the dataset
train_df['tweet_numerical'] = train_df['tweet'].apply(tokenize_tweet)
test_df['tweet_numerical'] = test_df['tweet'].apply(tokenize_tweet)
val_df['tweet_numerical'] = val_df['tweet'].apply(tokenize_tweet)

In [25]:
train_df.head(5)

,id,tweet,label,multiple_punctuation_count,contains_emoji,tweet_numerical
0,1,the cdc currently reports 99031 deaths in gene...,real,0,False,"[-0.13996461, 0.06287794, 0.24462132, -0.25544..."
1,2,states reported 1121 deaths a small rise from ...,real,1,False,"[-0.46223238, -0.15984914, 0.34944507, -0.0417..."
2,3,politically correct woman almost uses pandemic...,fake,1,False,"[-0.3389366, 0.021693483, -0.33708763, -0.0038..."
3,4,#indiafightscorona we have 1524 #covid testing...,real,1,False,"[-0.14517201, -0.15194315, 0.20590551, -0.1750..."
4,5,populous states can generate large case counts...,real,1,False,"[-0.31011504, 0.073943324, 0.23608635, 0.16543..."

# Feature Extraction

## Feature Matrix

In [ ]:


# Convert list of arrays into a NumPy feature matrix
X_train = np.vstack(train_df['tweet_numerical'].values)
X_val = np.vstack(val_df['tweet_numerical'].values)
X_test = np.vstack(test_df['tweet_numerical'].values)  # Test set has no labels

# Encode labels ('fake' -> 1, 'real' -> 0)
y_train = train_df['label'].map({'fake': 1, 'real': 0}).values
y_val = val_df['label'].map({'fake': 1, 'real': 0}).values