# Fake Covid News Detection

## Import Data

In [ ]:
import pandas as pd;
import re;
import os

if not os.path.exists('unclean'):
    os.makedirs('unclean')

test_df = pd.read_csv("unclean/Constraint_Test.csv");
train_df = pd.read_csv("unclean/Constraint_Train.csv");
val_df = pd.read_csv("unclean/Constraint_Val.csv");

In [110]:
test_df

        id                                              tweet
0        1  Our daily update is published. States reported...
1        2             Alfalfa is the only cure for COVID-19.
2        3  President Trump Asked What He Would Do If He W...
3        4  States reported 630 deaths. We are still seein...
4        5  This is the sixth time a global health emergen...
...    ...                                                ...
2135  2136  #CoronaVirusUpdates: State-wise details of Tot...
2136  2137  Tonight 12(midnight) onwards Disaster Manageme...
2137  2138  296 new cases of #COVID19Nigeria; Plateau-85 E...
2138  2139  RT @CDCemergency: #DYK? @CDCgov’s One-Stop Sho...
2139  2140  More than half of pregnant women recently admi...

[2140 rows x 2 columns]

In [111]:
train_df

        id                                              tweet label
0        1  The CDC currently reports 99031 deaths. In gen...  real
1        2  States reported 1121 deaths a small rise from ...  real
2        3  Politically Correct Woman (Almost) Uses Pandem...  fake
3        4  #IndiaFightsCorona: We have 1524 #COVID testin...  real
4        5  Populous states can generate large case counts...  real
...    ...                                                ...   ...
6415  6416  A tiger tested positive for COVID-19 please st...  fake
6416  6417  ???Autopsies prove that COVID-19 is??� a blood...  fake
6417  6418  _A post claims a COVID-19 vaccine has already ...  fake
6418  6419  Aamir Khan Donate 250 Cr. In PM Relief Cares Fund  fake
6419  6420  It has been 93 days since the last case of COV...  real

[6420 rows x 3 columns]

In [112]:
val_df

        id                                              tweet label
0        1  Chinese converting to Islam after realising th...  fake
1        2  11 out of 13 people (from the Diamond Princess...  fake
2        3  COVID-19 Is Caused By A Bacterium, Not Virus A...  fake
3        4  Mike Pence in RNC speech praises Donald Trump’...  fake
4        5  6/10 Sky's @EdConwaySky explains the latest #C...  real
...    ...                                                ...   ...
2135  2136  Donald Trump wrongly claimed that New Zealand ...  fake
2136  2137  Current understanding is #COVID19 spreads most...  real
2137  2138  Nothing screams “I am sat around doing fuck al...  fake
2138  2139  Birx says COVID-19 outbreak not under control ...  fake
2139  2140  Another 4422 new coronavirus cases have been c...  real

[2140 rows x 3 columns]

# Explorative data analysis

In [113]:
print("Uncleaned Test Data: "+ str(test_df.shape))
print("Uncleaned Train Data: "+ str(train_df.shape))
print("Uncleaned Validate Data: " + str(val_df.shape))

Uncleaned Test Data: (2140, 2)
Uncleaned Train Data: (6420, 3)
Uncleaned Validate Data: (2140, 3)

In [114]:
print("Uncleaned Test Data: "+ str(test_df.columns))
print("Uncleaned Train Data: "+ str(train_df.columns))
print("Uncleaned Validate Data: " + str(val_df.columns))

Uncleaned Test Data: Index(['id', 'tweet'], dtype='object')
Uncleaned Train Data: Index(['id', 'tweet', 'label'], dtype='object')
Uncleaned Validate Data: Index(['id', 'tweet', 'label'], dtype='object')

In [115]:
test_df.info()
print('\n')
train_df.info()
print('\n')
val_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2140 entries, 0 to 2139
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2140 non-null   int64
 1   tweet   2140 non-null   object
dtypes: int64(1), object(1)
memory usage: 33.6+ KB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6420 entries, 0 to 6419
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      6420 non-null   int64
 1   tweet   6420 non-null   object
 2   label   6420 non-null   object
dtypes: int64(1), object(2)
memory usage: 150.6+ KB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2140 entries, 0 to 2139
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2140 non-null   int64
 1   tweet   2140 non-null   object
 2   label   2140 non-null   object
dtypes: int64(1), object(2)
memory usage: 50.3+ KB

# Data Preprocessing

## Convert to lowercase

In [116]:
train_df['tweet'] = train_df['tweet'].str.lower()
test_df['tweet'] = test_df['tweet'].str.lower()
val_df['tweet'] = val_df['tweet'].str.lower()
print(train_df.head())
print(test_df.head())
print(val_df.head())

   id                                              tweet label
0   1  the cdc currently reports 99031 deaths. in gen...  real
1   2  states reported 1121 deaths a small rise from ...  real
2   3  politically correct woman (almost) uses pandem...  fake
3   4  #indiafightscorona: we have 1524 #covid testin...  real
4   5  populous states can generate large case counts...  real
   id                                              tweet
0   1  our daily update is published. states reported...
1   2             alfalfa is the only cure for covid-19.
2   3  president trump asked what he would do if he w...
3   4  states reported 630 deaths. we are still seein...
4   5  this is the sixth time a global health emergen...
   id                                              tweet label
0   1  chinese converting to islam after realising th...  fake
1   2  11 out of 13 people (from the diamond princess...  fake
2   3  covid-19 is caused by a bacterium, not virus a...  fake
3   4  mike pence in rnc speech praises donald trump’...  fake
4   5  6/10 sky's @edconwaysky explains the latest #c...  real

## Check Duplicates

In [117]:
train_duplicates = train_df[train_df.duplicated(subset=['tweet'], keep=False)]
print("Duplicates in train_df:")
print(train_duplicates)


test_duplicates = test_df[test_df.duplicated(subset=['tweet'], keep=False)]
print("\nDuplicates in test_df:")
print(test_duplicates)


val_duplicates = val_df[val_df.duplicated(subset=['tweet'], keep=False)]
print("\nDuplicates in val_df:")
print(val_duplicates)

common_tweets_train_test = pd.merge(train_df, test_df, on='tweet', how='inner')
print("\nCommon tweets in train and test sets:")
print(common_tweets_train_test)

common_tweets_train_val = pd.merge(train_df, val_df, on='tweet', how='inner')
print("\nCommon tweets in train and validation sets:")
print(common_tweets_train_val)

common_tweets_test_val = pd.merge(test_df, val_df, on='tweet', how='inner')
print("\nCommon tweets in test and validation sets:")
common_tweets_test_val

Duplicates in train_df:
Empty DataFrame
Columns: [id, tweet, label]
Index: []

Duplicates in test_df:
Empty DataFrame
Columns: [id, tweet]
Index: []

Duplicates in val_df:
Empty DataFrame
Columns: [id, tweet, label]
Index: []

Common tweets in train and test sets:
   id_x                                              tweet label  id_y
0  3242  audio from whatsapp in which the head of cardi...  fake   132
1  4178  video shows muslim women spitting in plastic b...  fake  1829

Common tweets in train and validation sets:
   id_x                                              tweet label_x  id_y  \
0  5459  our combined total of confirmed and probable c...    real   910

  label_y
0    real

Common tweets in test and validation sets:

Empty DataFrame
Columns: [id_x, tweet, id_y, label]
Index: []

## Check Missing Values

In [118]:
print("Missing values in test_df:\n", test_df.isnull().sum())
print("\nMissing values in train_df:\n", train_df.isnull().sum())
print("\nMissing values in val_df:\n", val_df.isnull().sum())

Missing values in test_df:
 id       0
tweet    0
dtype: int64

Missing values in train_df:
 id       0
tweet    0
label    0
dtype: int64

Missing values in val_df:
 id       0
tweet    0
label    0
dtype: int64

## Categorical Values Count

In [119]:
val_df.label.value_counts()

label
real    1120
fake    1020
Name: count, dtype: int64

In [120]:
train_df.label.value_counts()

label
real    3360
fake    3060
Name: count, dtype: int64

## Remove extra whitespaces and line break

In [121]:
def count_extra_whitespace_and_linebreaks(df, column_name):
    extra_spaces_count = 0
    linebreaks_count = 0

    for index, row in df.iterrows():
        tweet = row[column_name]
        # Check for extra spaces (more than one space together)
        extra_spaces_count += len([i for i in tweet.split() if len(i) == 0])

        # Check for linebreaks
        linebreaks_count += tweet.count('\n')

    return extra_spaces_count, linebreaks_count

extra_spaces_test, linebreaks_test = count_extra_whitespace_and_linebreaks(test_df, 'tweet')
extra_spaces_train, linebreaks_train = count_extra_whitespace_and_linebreaks(train_df, 'tweet')
extra_spaces_val, linebreaks_val = count_extra_whitespace_and_linebreaks(val_df, 'tweet')

print("Test DataFrame:")
print(f"Extra spaces: {extra_spaces_test}")
print(f"Line breaks: {linebreaks_test}")

print("\nTrain DataFrame:")
print(f"Extra spaces: {extra_spaces_train}")
print(f"Line breaks: {linebreaks_train}")

print("\nValidation DataFrame:")
print(f"Extra spaces: {extra_spaces_val}")
print(f"Line breaks: {linebreaks_val}")

Test DataFrame:
Extra spaces: 0
Line breaks: 288

Train DataFrame:
Extra spaces: 0
Line breaks: 778

Validation DataFrame:
Extra spaces: 0
Line breaks: 239

In [122]:
import re

def clean_text(text):
  # Remove extra whitespaces
  text = re.sub(r'\s+', ' ', text)
  # Remove leading/trailing whitespaces
  text = text.strip()
  return text

train_df['tweet'] = train_df['tweet'].apply(clean_text)
test_df['tweet'] = test_df['tweet'].apply(clean_text)
val_df['tweet'] = val_df['tweet'].apply(clean_text)

In [133]:
# Recheck for extra whitespaces and line breaks after cleaning
extra_spaces_test, linebreaks_test = count_extra_whitespace_and_linebreaks(test_df, 'tweet')
extra_spaces_train, linebreaks_train = count_extra_whitespace_and_linebreaks(train_df, 'tweet')
extra_spaces_val, linebreaks_val = count_extra_whitespace_and_linebreaks(val_df, 'tweet')

print("\nAfter Cleaning:")
print("Test DataFrame:")
print(f"Extra spaces: {extra_spaces_test}")
print(f"Line breaks: {linebreaks_test}")

print("\nTrain DataFrame:")
print(f"Extra spaces: {extra_spaces_train}")
print(f"Line breaks: {linebreaks_train}")

print("\nValidation DataFrame:")
print(f"Extra spaces: {extra_spaces_val}")
print(f"Line breaks: {linebreaks_val}")

After Cleaning:
Test DataFrame:
Extra spaces: 0
Line breaks: 0

Train DataFrame:
Extra spaces: 0
Line breaks: 0

Validation DataFrame:
Extra spaces: 0
Line breaks: 0

## Normalize Multiple Punctuation into single punctuation

In [123]:
def count_multiple_punctuation(text):
    # Regular expression to find multiple punctuation marks together
    pattern = r'[^\w\s]{2,}'  # Matches 2 or more non-word, non-space characters
    matches = re.findall(pattern, text)
    return len(matches)

# Apply the function to the 'tweet' column of each DataFrame
train_df['multiple_punctuation_count'] = train_df['tweet'].apply(count_multiple_punctuation)
test_df['multiple_punctuation_count'] = test_df['tweet'].apply(count_multiple_punctuation)
val_df['multiple_punctuation_count'] = val_df['tweet'].apply(count_multiple_punctuation)

print(train_df.head())
print(test_df.head())
print(val_df.head())

# Example: Check the total count of multiple punctuations in train set
total_multiple_punctuation_train = train_df['multiple_punctuation_count'].sum()
print(f"\nTotal multiple punctuations in train_df: {total_multiple_punctuation_train}")

   id                                              tweet label  \
0   1  the cdc currently reports 99031 deaths. in gen...  real
1   2  states reported 1121 deaths a small rise from ...  real
2   3  politically correct woman (almost) uses pandem...  fake
3   4  #indiafightscorona: we have 1524 #covid testin...  real
4   5  populous states can generate large case counts...  real

   multiple_punctuation_count
0                           0
1                           1
2                           1
3                           1
4                           1
   id                                              tweet  \
0   1  our daily update is published. states reported...
1   2             alfalfa is the only cure for covid-19.
2   3  president trump asked what he would do if he w...
3   4  states reported 630 deaths. we are still seein...
4   5  this is the sixth time a global health emergen...

   multiple_punctuation_count
0                           1
1                           0
2                           1
3                           1
4                           2
   id                                              tweet label  \
0   1  chinese converting to islam after realising th...  fake
1   2  11 out of 13 people (from the diamond princess...  fake
2   3  covid-19 is caused by a bacterium, not virus a...  fake
3   4  mike pence in rnc speech praises donald trump’...  fake
4   5  6/10 sky's @edconwaysky explains the latest #c...  real

   multiple_punctuation_count
0                           0
1                           0
2                           0
3                           2
4                           2

Total multiple punctuations in train_df: 6501

In [124]:
def replace_excessive_punctuation(text):
    text = re.sub(r'([!?.]){2,}', r'\1', text)
    return text

train_df['tweet'] = train_df['tweet'].apply(replace_excessive_punctuation)
test_df['tweet'] = test_df['tweet'].apply(replace_excessive_punctuation)
val_df['tweet'] = val_df['tweet'].apply(replace_excessive_punctuation)

In [125]:
def check_multiple_punctuation(df):

    # Regular expression to find two or more punctuation marks together
    pattern = r'[!?.]{2,}'

    # Find tweets with multiple punctuation marks
    multiple_punctuation_tweets = df[df['tweet'].str.contains(pattern, regex=True)]

    if multiple_punctuation_tweets.empty:
        return None  # Return None if no such rows are found.
    else:
        return multiple_punctuation_tweets

multiple_punctuation_train = check_multiple_punctuation(train_df)

if multiple_punctuation_train is not None:
    print("Tweets in train_df with multiple punctuation marks:")
    print(multiple_punctuation_train)
else:
    print("No tweets in train_df with multiple punctuation marks.")

multiple_punctuation_test = check_multiple_punctuation(test_df)
if multiple_punctuation_test is not None:
    print("\nTweets in test_df with multiple punctuation marks:")
    print(multiple_punctuation_test)
else:
    print("\nNo tweets in test_df with multiple punctuation marks.")

multiple_punctuation_val = check_multiple_punctuation(val_df)
if multiple_punctuation_val is not None:
    print("\nTweets in val_df with multiple punctuation marks:")
    print(multiple_punctuation_val)
else:
    print("\nNo tweets in val_df with multiple punctuation marks.")

No tweets in train_df with multiple punctuation marks.

No tweets in test_df with multiple punctuation marks.

No tweets in val_df with multiple punctuation marks.

## Check Emoji Usage

In [134]:
def contains_emoji(text):
    emoji_pattern = re.compile("["
                               u"\U0001F600-\U0001F64F"  # emoticons
                               u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                               u"\U0001F680-\U0001F6FF"  # transport & map symbols
                               u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                               u"\U00002702-\U000027B0"
                               u"\U000024C2-\U0001F251"
                               "]+", flags=re.UNICODE)
    return bool(emoji_pattern.search(text))

train_df['contains_emoji'] = train_df['tweet'].apply(contains_emoji)
test_df['contains_emoji'] = test_df['tweet'].apply(contains_emoji)
val_df['contains_emoji'] = val_df['tweet'].apply(contains_emoji)

print(train_df[train_df['contains_emoji'] == True])
print(test_df[test_df['contains_emoji'] == True])
print(val_df[val_df['contains_emoji'] == True])

        id                                              tweet label  \
15      16  as of 18 august 2020 8am till now there have b...  real
60      61  as of today there are a total of 1339 @icmrdel...  real
71      72  according to the state health department #hary...  real
86      87  there is no one in new zealand receiving hospi...  real
106    107  as of today there are 23917 active #covid19 ca...  real
...    ...                                                ...   ...
5620  5621  as of 17 july 10pm there are 684 active #covid...  real
5789  5790  as of today our #recoveryrate for #covid19 cas...  real
6250  6251  yes the state governments may issue stricter g...  real
6257  6258  as of today 87604 8592 out of the 101951 total...  real
6360  6361  as of today #covid19 fatality rate is 253 the ...  real

      multiple_punctuation_count  contains_emoji
15                             1            True
60                             2            True
71                             3            True
86                             1            True
106                            2            True
...                          ...             ...
5620                           1            True
5789                           1            True
6250                           1            True
6257                           2            True
6360                           2            True

[98 rows x 5 columns]
        id                                              tweet  \
76      77  as of today 18 of all the samples tested for #...
112    113  as on 25 july 6pm out of all the active #covid...
150    151  there are 4 #covid19 govt testing lab in #agra...
248    249  as of today #recoveryrate of #covid19 cases in...
324    325  as of today following districts have reported ...
361    362  as of 8 aug 2020 715pm #tamilnadu has tested 3...
500    501  as of today the #recoveryrate of #covid19 pati...
629    630  acc to @who being able to hold your breath for...
700    701  as of today #recoveryrate for #covid19 cases i...
799    800  as of today there are 101 #covid19 positive ca...
807    808  which an individual with #covid__19 is infecti...
838    839  as of today acc to @mohfw_india 217 of the tot...
1152  1153  china concerned western authoritarian governme...
1194  1195  as of 23 july 2020 954 pm there are 431823 peo...
1279  1280  as per @icmrdelhi it is not recommended to rel...
1354  1355  in india no case of #covid reinfection has bee...
1517  1518  as of today there are four states in india nam...
1615  1616  as on 19 july 2020 in #pune districts total po...
1674  1675  as per @mohfw_india report on 1282020 8am the ...
1714  1715  by the time this #coronavirus pandemic is over...
1754  1755  from random @facebook posts to renowned #yoga ...
1875  1876  #chattisgarh 7899 #uttarakhand 8085 #ladahk 86...
1878  1879  as of today the #covid19 #recoveryrate in #son...
2044  2045  i know a family of 3 tested positive on #covid...

      multiple_punctuation_count  contains_emoji
76                             2            True
112                            1            True
150                            2            True
248                            1            True
324                            6            True
361                            1            True
500                            2            True
629                            1            True
700                            2            True
799                            2            True
807                            2            True
838                            1            True
1152                           0            True
1194                           1            True
1279                           2            True
1354                           0            True
1517                           1            True
1615                           2            True
1674                           6            True
1714                           0            True
1754                           1            True
1875                           5            True
1878                           3            True
2044                           1            True
        id                                              tweet label  \
31      32  as of 5 august 2020 there are 1955 active #cov...  real
262    263  as per @icmrdelhi 282511 samples were tested f...  real
323    324  currently there is no provision of quarantine ...  real
454    455  as per @moca_goi guidelines thermal screening ...  real
517    518  as of today till 930 am out of the total 11180...  real
548    549  highest cases amp highest deaths in a day in #...  fake
595    596  based on todays evening #covid update a total ...  real
702    703  in #telangana there are a total of 56 dedicate...  real
823    824  as of today 6pm a total of 1535743 people have...  real
897    898  @mohfw_india has issued sop on preventive meas...  real
981    982  us arms doctors to shoot covid19 on site #coro...  fake
1034  1035  #covid19 #coronavirus #coronavirusupdate its t...  fake
1144  1145  as of today there are 247 active #covid19 case...  real
1165  1166  as of 30 july 2020 a total of 525430 #covid19 ...  real
1427  1428  as of today there are 2750 active #covid19 cas...  real
1438  1439  for availability of ventilator amp #covid beds...  real
1439  1440  as per @hmoindia during #unlock2 school colleg...  real
1442  1443  as of today there are 62 #covid19 dedicated ho...  real
1595  1596  as #bihar state is under lockdown till 31 july...  real
2010  2011  as of today there are 14663 active #covid19 ca...  real
2011  2012  till today in #chennai there have been a total...  real
2057  2058  as of today there are 189 total confirmed #cov...  real
2059  2060  for #covid19 rt pcr test #uttarpradesh govt ha...  real

      multiple_punctuation_count  contains_emoji
31                             1            True
262                            1            True
323                            1            True
454                            1            True
517                            1            True
548                            1            True
595                            1            True
702                            1            True
823                            1            True
897                            3            True
981                            2            True
1034                           1            True
1144                           2            True
1165                           1            True
1427                           2            True
1438                           2            True
1439                           2            True
1442                           2            True
1595                           2            True
2010                           2            True
2011                           1            True
2057                           2            True
2059                           1            True

## Classify URL Link

In [127]:
def replace_urls(text):
    url_pattern = re.compile(r'https?://\S+|www\.\S+')
    return url_pattern.sub("<URL>", text)

train_df['tweet'] = train_df['tweet'].apply(replace_urls)
test_df['tweet'] = test_df['tweet'].apply(replace_urls)
val_df['tweet'] = val_df['tweet'].apply(replace_urls)

In [128]:
def count_url_occurrences(df):
    return df['tweet'].str.count('<URL>').sum()

train_url_count = count_url_occurrences(train_df)
test_url_count = count_url_occurrences(test_df)
val_url_count = count_url_occurrences(val_df)

print(f"Number of URLs in train_df: {train_url_count}")
print(f"Number of URLs in test_df: {test_url_count}")
print(f"Number of URLs in val_df: {val_url_count}")

Number of URLs in train_df: 4395
Number of URLs in test_df: 1496
Number of URLs in val_df: 1497

## Remove Special Character

In [129]:
def remove_special_chars(text):
    # Keep only letters, numbers, spaces, @ and #
    text = re.sub(r'[^\w\s@#]', '', text)
    return text

train_df['tweet'] = train_df['tweet'].apply(remove_special_chars)
test_df['tweet'] = test_df['tweet'].apply(remove_special_chars)
val_df['tweet'] = val_df['tweet'].apply(remove_special_chars)

# Export

In [ ]:
if not os.path.exists('clean'):
    os.makedirs('clean')

train_df.to_csv('clean/train_cleaned.csv', index=False)
test_df.to_csv('clean/test_cleaned.csv', index=False)
val_df.to_csv('clean/val_cleaned.csv', index=False)

train_df.to_excel('clean/train_cleaned.xlsx', index=False)
test_df.to_excel('clean/test_cleaned.xlsx', index=False)
val_df.to_excel('clean/val_cleaned.xlsx', index=False)